In [1]:
import pandas as pd
import numpy as np
import json
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
import matplotlib.pyplot as plt
import seaborn as sb
import nltk
from nltk.corpus import stopwords
from collections import Counter

In [2]:
business_df = pd.read_json('yelp_business.json',lines=True)

In [3]:
coffee_df = business_df[business_df['categories'].str.contains('Coffee')==True]

In [4]:
def get_has_tv(d):
    if type(d) == dict:
        if 'HasTV' in d.keys():
            if 'None' in d['HasTV']:
                return False
            if 'False' in d['HasTV']:
                return False
            if 'True' in d['HasTV']:
                return True
    return 'Unknown'

In [6]:
coffee_df['has_tv']=coffee_df['attributes'].apply(get_has_tv)

In [23]:
coffee_df['has_tv'].unique()

array(['Unknown', False, True], dtype=object)

In [8]:
pd.DataFrame(coffee_df.groupby('has_tv')['stars'].mean().reset_index())

    has_tv     stars
0    False  4.017336
1     True  3.164109
2  Unknown  3.536821

In [10]:
pd.DataFrame(coffee_df.groupby('has_tv')['stars'].count().reset_index())

    has_tv  stars
0    False   1096
1     True   1694
2  Unknown   3938

In [11]:
def get_price_range(d):
    if type(d) == dict:
        if 'RestaurantsPriceRange2' in d.keys():
            '''if d['RestaurantsPriceRange2'] == '1':
                return '$'
            if d['RestaurantsPriceRange2'] == '2':
                return '$$'
            if d['RestaurantsPriceRange2'] == '3':
                return '$$$'
            if d['RestaurantsPriceRange2'] == '4':
                return '$$$$'
            if d['RestaurantsPriceRange2'] == '5':
                return '$$$$$'''
            return d['RestaurantsPriceRange2']
            
    return 'Unknown'

In [12]:
coffee_df['price_range']=coffee_df['attributes'].apply(get_price_range)

In [13]:
coffee_df['price_range'] = np.where((coffee_df.price_range == 'None'),'Unknown',coffee_df.price_range)

In [22]:
coffee_df['price_range'].unique()

array(['1', '2', 'Unknown', '4', '3'], dtype=object)

In [14]:
pd.DataFrame(coffee_df.groupby('price_range')['stars'].mean().reset_index())

  price_range     stars
0           1  3.240834
1           2  3.771887
2           3  3.532258
3           4  3.384615
4     Unknown  3.997559

In [15]:
pd.DataFrame(coffee_df.groupby('price_range')['stars'].count().reset_index())

  price_range  stars
0           1   3573
1           2   2056
2           3     62
3           4     13
4     Unknown   1024

In [16]:
def get_wifi(d):
    if type(d) == dict:
        if 'WiFi' in d.keys():
            #return d['WiFi']
            if 'free' in d['WiFi']:
                return 'Free'
            if 'paid' in d['WiFi']:
                return 'Paid'
            if 'no' in d['WiFi']:
                return 'None'
            if 'None' in d['WiFi']:
                return 'None'
    return 'Unknown'

In [18]:
coffee_df['wifi']=coffee_df['attributes'].apply(get_wifi)

In [20]:
coffee_df['wifi'].unique()

array(['Free', 'None', 'Unknown', 'Paid'], dtype=object)

In [25]:
pd.DataFrame(coffee_df.groupby('wifi')['stars'].mean().reset_index())

      wifi     stars
0     Free  3.489947
1     None  4.001894
2     Paid  3.656250
3  Unknown  3.421601

In [26]:
pd.DataFrame(coffee_df.groupby('wifi')['stars'].count().reset_index())

      wifi  stars
0     Free   5272
1     None    528
2     Paid     16
3  Unknown    912

In [27]:
def get_outdoor_seating(d):
    if type(d) == dict:
        if 'OutdoorSeating' in d.keys():
            if 'True' in d['OutdoorSeating']:
                return True
            if 'False' in d['OutdoorSeating']:
                return False
            if 'None' in d['OutdoorSeating']:
                return False
    return 'Unknown'

In [29]:
coffee_df['outdoor_seating']=coffee_df['attributes'].apply(get_outdoor_seating)

In [30]:
coffee_df['outdoor_seating'].unique()

array([False, True, 'Unknown'], dtype=object)

In [31]:
pd.DataFrame(coffee_df.groupby('outdoor_seating')['stars'].mean().reset_index())

  outdoor_seating     stars
0           False  3.264989
1            True  3.765635
2         Unknown  3.346535

In [32]:
pd.DataFrame(coffee_df.groupby('outdoor_seating')['stars'].count().reset_index())

  outdoor_seating  stars
0           False   2185
1            True   3230
2         Unknown   1313