In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
business_df = pd.read_json('yelp_business.json',lines=True)

In [3]:
business_df_clean = business_df[~(business_df['hours'].astype(str) == 'None')]

In [4]:
coffee_df = business_df_clean[business_df_clean['categories'].str.contains('Coffee')==True]

In [5]:
hours_df = coffee_df['hours'].apply(pd.Series)

In [6]:
coffee_df_2=pd.merge(coffee_df, hours_df, left_index=True, right_index=True)

In [7]:
del coffee_df_2['hours']

In [9]:
weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
coffee_df_2[weekdays]=coffee_df_2[weekdays].fillna('Closed')

In [10]:
def num_closed_days(row):
    tot = 0
    for i in weekdays:
        if row[i] == 'Closed':
            tot = tot+1
    return tot

#days_df = clean_business[['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']]
#days_df = clean_business
coffee_df_2['days_closed'] = coffee_df_2.apply(num_closed_days,axis=1)

In [11]:
coffee_df_2['days_closed'].unique()

array([0, 1, 2, 4, 3, 5, 6])

In [12]:
pd.DataFrame(coffee_df_2.groupby('days_closed')['stars'].mean().reset_index())

   days_closed     stars
0            0  3.329774
1            1  4.209273
2            2  4.173697
3            3  4.183673
4            4  4.128571
5            5  4.309524
6            6  4.233333

In [13]:
pd.DataFrame(coffee_df_2.groupby('days_closed')['stars'].count().reset_index())

   days_closed  stars
0            0   4917
1            1    798
2            2    403
3            3     49
4            4     35
5            5     21
6            6     30

In [14]:
def num_24_hour_days(row):
    tot = 0
    for i in weekdays:
        if row[i] == '0:0-0:0':
            tot = tot+1
    return tot

#days_df = clean_business[['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']]
#days_df = clean_business
coffee_df_2['24_hour_days'] = coffee_df_2.apply(num_24_hour_days,axis=1)

In [15]:
pd.DataFrame(coffee_df_2.groupby('24_hour_days')['stars'].mean().reset_index())

   24_hour_days     stars
0             0  3.584182
1             1  3.975403
2             2  1.725806
3             3  1.875000
4             4  2.250000
5             5  2.500000
6             6  2.500000
7             7  2.594194

In [16]:
pd.DataFrame(coffee_df_2.groupby('24_hour_days')['stars'].count().reset_index())

   24_hour_days  stars
0             0   4122
1             1   1240
2             2     31
3             3      8
4             4      4
5             5      1
6             6      3
7             7    844